.back {
	font-family:'Hammersmith One', sans-serif;
	margin-top:30%;
	font-size:20em;
	position:relative;
	
	
	
	
}
.side-right{
	margin-top:10%;
	line-height:2em;
	font-size:3.5em;
	color:#888888;
}

.triangle {
	margin-top:-9.5em;
	margin-left:24.5em;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 30px solid transparent;
	border-top: 150px solid red;
	-webkit-transform:rotate(50deg);
	z-index:1000px;
	position:absolute;
}

#first-div {
	
	box-shadow: 5px 0px 0px #888888;
}

.inner-container{
	
	margin-left:-30px;
}